# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/packages/*/node_modules
/packages/api/dist*
/packages/web/.pnp
/packages/web/.pnp.js
/packages/web/.yarn/install-state.gz

# testing
/packages/web/coverage

# next.js
/packages/web/.next/
/packages/web/out/

# production
/packages/web/build

# misc
.DS_Store
*.pem

# debug
/packages/web/npm-debug.log*
/packages/web/yarn-debug.log*
/packages/web/yarn-error.log*

# local env files
/packages/web/.env*.local

# vercel
/packages/web/.vercel

# typescript
*.tsbuildinfo
/packages/web/next-env.d.ts
